<aside class="menu">
      <ul class="menu-list has-icons-left">
          <li>
            <a href="/" style="<% if @a_dashboard == true %> border-left: #d6d328 3px solid; <% end %>"><i class="fa fa-home"></i> Dashboard <br></a>
          </li>

          <li>
            <a href="/uang_masuks" style="<% if @a_masuk == true %> border-left: #d6d328 3px solid; <% end %>"><i class="fa fa-money-check"></i> Uang Masuk <br></a>
          </li>

          <li>
            <a href="/uang_keluars" style="<% if @a_keluar == true %> border-left: #d6d328 3px solid; <% end %>"><i class="fa fa-money-check-alt"></i> Uang Keluar <br></a>
          </li>

          <li>
            <a href="/laporan_masuk" style="<% if @a_laporan == true %> border-left: #d6d328 3px solid; <% end %>"><i class="fas fa-print"></i> Laporan Masuk <br></a>
          </li>

          <li>
            <a href="/laporan_keluar" style="<% if @a_lpkeluar == true %> border-left: #d6d328 3px solid; <% end %>"><i class="fas fa-print"></i> Laporan Keluar <br></a>
          </li>
      </ul>
</aside>
